body {
    background-color: #192129;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1#top {
    position: relative;
    text-align: center;
    top: -10px;
    font-size: 50px;
}

img#JS_img {
    display: block;
    margin: -30px auto;
}

button#button {
    background-color: yellow;
    font-family: "Arial";
    font-size: 18px;
    font-style: bold;
    border: none;
    padding: 15px 40px;
    display: block;
    margin: 80px auto;
}
